body {
    margin: 0;
    padding: 0;
}

#grid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.square {
    width: 20px;
    height: 20px;
    border: 1px black solid;
}